#game {
  #question {
    padding-top: 2em;

    &::first-letter {
      text-transform: uppercase;
    }
  }
  #question-number {
    width: max-content;
    padding: 1em 2em;
    background-color: rgba(179, 137, 235, 0.212);
    margin: auto;
    font-size: 1.3em;
  }
}

button:disabled {
  pointer-events: none;
  opacity: 0.2;
}

.win,
.lose {
  background-color: var(--color);
}

.win {
  --color: blue;
}
.lose {
  --color: red;
}
#suggestoins-wrapper {
  button {
    letter-spacing: 0.1em;
    font-size: 1.3em;
    outline: 0 solid white;
    transition: 200ms;
    &:focus {
      outline: 0.2em solid white;
    }
  }
}
