#game {
  #question {
    padding-top: 2em;

    &::first-letter {
      text-transform: uppercase;
    }
  }
  #question-number {
    width: max-content;
    padding: 1em 2em;
    --accent-colr: orange;
    margin: auto;
    font-size: 1.3em;
    border-radius: 1em;
    text-transform: uppercase;
    border: 2px solid var(--accent-colr);
  }
}

button:disabled {
  pointer-events: none;
  opacity: 0.2;
}
#reset-btn {
  background-color: blue;
  max-width: max-content;
  margin-inline: auto;
}

#suggestions {
  transition: 500ms;
  background-color: var(--color);
  &.win {
    --color: blue;
  }
  &.lose {
    --color: red;
  }
  button {
    letter-spacing: 0.1em;
    outline: 0 solid white;
    transition: 200ms;
    &:focus {
      outline: 0.2em solid white;
    }
  }
}
