.cheat {
  background-color: var(--root-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
  overflow: auto;
  padding: 0.4em;
  max-height: 100dvh;
  padding-top: 2em;

  span.separator {
    display: block;
    height: 1px;
    width: 200px;
    background: linear-gradient(
      90deg,
      transparent,
      rgb(17, 211, 98),
      transparent
    );
  }
}
